streamlit
torch
torchvision
opencv-python
albumentations
numpy
Pillow
scikit-image
scikit-learn
matplotlib
onnxruntime
onnxruntime-gpu
onnx
librosa
soundfile
pydub
supervision
numba==0.59.0
llvmlite==0.42.0
